<section>
	<h2>CCTV</h2>
	<h6>OpenCV를 이용한 CCTV</h6>
	<ul class="list_tags">
		<li>윈도우 응용 프로그램</li>
		<li>OpenCV</li>
		<li>JavaCV</li>
		<li>영상처리</li>
		<li>멀티미디어</li>
		<li>JAVA</li>
	</ul>
	<div class="section_doc">
		<h6 class="tit">Overview</h6>
		<p>
			학교 강의 '멀티미디어 처리'의 과제물로 OpenCV를 이용하여 실제로 사용할 수 있는 응용 프로그램 개발을 목적으로
			시작된 프로젝트입니다.
			<br>
			프레젠테이션 : <a href="https://drive.google.com/open?id=0B9gADkq3gzYZSjhRSGx2aVlTem8" target="_blank">https://drive.google.com/open?id=0B9gADkq3gzYZSjhRSGx2aVlTem8</a>
			Github:<a href="https://github.com/Edunga1/edunga1.github.com/tree/master/projects/mmcctv" target="_blank">https://github.com/Edunga1/edunga1.github.com/tree/master/projects/mmcctv</a><br>
		</p>
		<div class="row">
			<div class="six columns">
				<img class="thumb" src="./img/cctv_1.png">
			</div>
			<div class="six columns">
				<img class="thumb" src="./img/thumb_cctv.png">
			</div>
		</div>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Features</h6>
		<p>
			<strong>CCTV</strong>는 PC에 연결된 카메라를 통해 감시하는 기능입니다.
		</p>
		<p>
			<strong>물체 추적</strong>으로 영상 속 움직이는 부분을 강조하여 좀 더 뚜렷하게 구분 할 수 있습니다.
		</p>
		<p>
			움직임이 포착되면 <strong>감지 알림</strong>이 알람을 발생시켜 놓치지 않도록 도와줍니다. 
		</p>
		<p>
			전체 부분을 녹화하는 것이 아니라 움직임이 포착되면 <strong>녹화</strong>를 시작하고 포착되면 중지하여 효율적인
			파일관리가 가능합니다.
		</p>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Behind</h6>
		<strong>성능 문제</strong>
		<p>
			Java의 경우 영상처리 부분에 있어서 C보다 많이 느렸다.<br>
			이 프로젝트를 통해서 어떤 언어에 의존적이기 보다는 언어에 대한 장단점을 알고, 상황에 따라
			선택하여 사용할 수 있는 개발자가 되어야 겠다고 다짐했다.<br>
		</p>
		<strong>UI 디자인</strong>
		<p>
			서버와 클라이언트를 통합하고, 사용하기 편한 UI를 구현하고자 했다.
			'내가 사용자라면 얼마나 불편할까?'라는 의문을 계속 가지며 최대한 직관적으로 구성하고자 했다. 
		</p>
	</div>
</section>