<section>
	<h2>기타 프로젝트</h2>
	<h6>학부 생활을 하면서 진행했던 프로젝트 모음</h6>
	<hr>
	<div class="row">
		<div class="four columns b">
			Beautiful Math
			<ul class="list_tags">
				<li>HTML5</li>
				<li>Javascript</li>
				<li>Canvas</li>
				<li>Ajax</li>
				<li>php</li>
			</ul>
		</div>
		<div class="seven columns">
			<a href="https://github.com/Edunga1/edunga1.github.com/tree/master/projects/beautifulmath" target="_blank">https://github.com/Edunga1/edunga1.github.com/tree/master/projects/beautifulmath</a><br>
			Javascript Canvas를 이용한 기본적인 Front-end 위주의 웹 프로젝트입니다.<br>
			Github 내의 .hwp, .pptx 파일로 프로젝트가 설명되어 있습니다.
		</div>
	</div>
	<br>
	<div class="row">
		<div class="four columns b">
			멀티미디어 - 이미지처리
			<ul class="list_tags">
				<li>Image processing</li>
				<li>Java</li>
				<li>Swing</li>
				<li>OpenCV</li>
			</ul>
		</div>
		<div class="seven columns">
			<a href="https://github.com/Edunga1/edunga1.github.com/tree/master/projects/imageproc" target="_blank">https://github.com/Edunga1/edunga1.github.com/tree/master/projects/imageproc</a><br>
			멀티미디어 과목의 이미지처리 과제로 OpenCV를 이용하여 히스토그램 출력, 화소값 기반 처리, 공간 기반 처리, 비트 플레인 기반 처리,
			에지 추출, 모폴로지, 기하학 처리 등을 구현한 GUI 프로그램입니다.
		</div>
	</div>
	<br>
	<div class="row">
		<div class="four columns b">
			디자인패턴 과제들
			<ul class="list_tags">
				<li>Design Pattern</li>
				<li>C++</li>
				<li>Java</li>
				<li>UML</li>
			</ul>
		</div>
		<div class="seven columns">
			<a href="https://github.com/Edunga1/edunga1.github.com/tree/master/projects/designpatterns" target="_blank">https://github.com/Edunga1/edunga1.github.com/tree/master/projects/designpatterns</a><br>
			디자인패턴 과목을 수강하면서 배웠던 패턴의 UML을 그려보고 Java와 C++로 구현하였습니다.<br>
			UML은 Star UML 2를 이용하여 그렸습니다.
		</div>
	</div>
</section>