<section>
	<h2>기타 프로젝트</h2>
	<h6>학부 생활을 하면서 진행했던 프로젝트 모음</h6>
	<hr>
	<div class="row">
		<div class="four columns b">
			Beautiful Math
			<ul class="list_tags">
				<li>HTML5</li>
				<li>Javascript</li>
				<li>Canvas</li>
				<li>Ajax</li>
				<li>php</li>
			</ul>
		</div>
		<div class="seven columns">
			Github: <a href="https://github.com/Edunga1/beautifulmath" target="_blank">https://github.com/Edunga1/beautifulmath</a><br>
			Javascript Canvas를 이용한 기본적인 Front-end 위주의 웹 프로젝트입니다.
		</div>
	</div>
</section>