<section>
		<h1>안녕하세요!</h1>
</section>
<section class="section rad lg1">
	<h3>Projects</h3>
	<div class="row">
		<div class="four columns">
			<a href="#/kpool">
				<img class="thumb" src="./img/thumb_project1.png">
			</a>
			<h6 class="tit_project">KPOOL</h6>
			<p class="desc_project">
				하이브리드 웹앱.<br>
				학교 카풀 게시판의 접근성 및 단순 게시판 형식을 개선하였습니다.
			</p>
			<a class="button" href="#/kpool">상세보기</a>
		</div>
		<div class="four columns">
			<img class="thumb" src="./img/screen2.jpg">
			<h6 class="tit_project">TravelMaker</h6>
			<p class="desc_project">
				웹 서비스.
			</p>
			<a class="button" href="#">상세보기</a>
		</div>
		<div class="four columns">
			<img class="thumb" src="./img/screen3.jpg">
			<h6 class="tit_project">-</h6>
			<p class="desc_project">
				-
			</p>
			<a class="button" href="#">상세보기</a>
		</div>
	</div>
</section>