<section>
    <h2>안녕하세요?</h2>
    <p>
        소프트웨어는 이제 '<strong>4차 산업혁명</strong>'의 주역이 되었습니다.<br>
        신입 '<strong>메이커</strong>'의 일원으로써 저를 소개하고자 이 공간을 마련하였으며,
        개발을 하면서 느꼈던 사실을 토대로 솔직하게 작성하고자 하였습니다.
    </p>
</section>
<hr>
<section class="section rad lg1">
    <h3>Projects</h3>
    <div class="row">
        <div class="four columns">
            <a href="#/kpool">
                <img class="thumb" src="./img/thumb_kpool.png">
            </a>
            <h6 class="tit">KPOOL</h6>
            <p class="desc_project">
                하이브리드 웹 앱.<br>
                학교 카풀 게시판의 접근성 및 단순 게시판 형식을 개선하였습니다.
            </p>
            <a class="button" href="#/kpool">상세보기</a>
        </div>
        <div class="four columns">
            <a href="#/travelmaker">
                <img class="thumb" src="./img/thumb_tm.png">
            </a>
            <h6 class="tit">TravelMaker</h6>
            <p class="desc_project">
                웹 서비스.<br>
                간단한 설문을 통하여 감성을 파악해보고 이에 맞는 여행지를 추천하는 시스템입니다.
            </p>
            <a class="button" href="#/travelmaker">상세보기</a>
        </div>
        <div class="four columns">
            <a href="#/cctv">
                <img class="thumb" src="./img/thumb_cctv.png">
            </a>
            <h6 class="tit">OpenCV CCTV</h6>
            <p class="desc_project">
                윈도우 응용 프로그램.<br>
                OpenCV를 이용한 CCTV입니다. 녹화, 포착, 추적 등 기능을 제공합니다.
            </p>
            <a class="button" href="#/cctv">상세보기</a>
        </div>
    </div>
</section>