<section>
	<h2>KPOOL</h2>
	<h6>금오공대 카풀 애플리케이션</h6>
	<ul class="list_tags">
		<li>하이브리드 웹앱</li>
		<li>AngularJS</li>
		<li>jQuery</li>
		<li>Spring</li>
		<li>Mybatis</li>
		<li>PhoneGap</li>
		<li>Ajax</li>
		<li>MySQL</li>
		<li>Tomcat 7.0</li>
		<li>Daum Map API</li>
		<li>GCM</li>
		<li>GIT</li>
	</ul>
	<div class="section_doc">
		<h6 class="tit">Overview</h6>
		<p>
			기존 학교 카풀 시스템의 단순한 게시판 형식과 모바일에서 접근하기 힘든
			문제를 해결하고 카풀에 맞는 양식을 제공하여 사용성을 향상시키고 꾸준한 디자인 개선을
			통하여 감성에도 신경을 쓴 프로젝트입니다.
			<br><br>
			Github : <a href="https://github.com/ParkWooHyun/KPOOL" target="_blank">https://github.com/ParkWooHyun/KPOOL</a><br>
			Google Play : <a href="https://play.google.com/store/apps/details?id=com.kit.kpool" target="_blank">https://play.google.com/store/apps/details?id=com.kit.kpool</a><br>
			프로젝트 내 역할 : Front-end<br>
		</p>
		<div class="row">
			<div class="three columns">
				<img class="thumb" src="./img/kpool_1.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/kpool_2.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/kpool_3.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/kpool_4.png">
			</div>
		</div>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Features</h6>
		<p>
			<strong>카풀에 맞는 양식</strong>을 지원합니다. 지도, 시간 등 편리기능으로 가입없이 빠르고 간편하게 이용할 수 있습니다.
		</p>
		<p>
			<strong>예약 및 매칭</strong> 기능은 카풀 게시판을 사용하지 않고도 목적지와 출발지 그리고 시간만 등록하면 같은 카풀 목적을 가진
			예약자들이 몇 명있는지 알 수 있습니다.<br>
		</p>
		<p>
			<strong>푸쉬 알림</strong>은 내가 예약한 카풀과 조건이 일치하는 글이 올라오면 푸쉬를 통해 알려줍니다.
			매칭 기능을 통하여 같은 카풀을 가진 사람들 확인하고 카풀 등록을 함으로써 간접적으로 푸쉬를 보낼 수 있습니다.<br>
		</p>
		<p>
			<strong>티켓</strong>으로 카풀 동승자를 쉽게 구분할 수 있습니다.
		</p>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">History</h6>
		<div class="row">
			<div class="two columns bg5">7월</div>
			<div class="nine columns">
				<ul>
					<li>방학 중 교내 공모전과 웹 프로그래밍 스킬 향상을 목적으로 시작되었습니다!</li>
					<li>특히 신경썼던 UI / UX 디자인. 감성을 부각하기 위해 약 2주간 투자했습니다.</li>
					<li>31일 제출 완료하였지만 의견을 모은 결과 좀 더 개선하여 실제로 서비스하기로 결정합니다.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns bg5">8월</div>
			<div class="nine columns">
				<ul>
					<li>코드 정리, 쿼리문 개선, 디자인 개선, 이쁜 아이콘 만들기, 시스템 구조 변경 등
					계절학기, 아르바이트 중에도 짬을 내어 조금씩 진행했습니다.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns bg5">9월</div>
			<div class="nine columns">
				<ul>
					<li>개강 후 4학년 과목인 '사용자 인터페이스'의 디자인 전공 교수님과 소프트웨어 공학 전공 교수님의
					피드백을 통해 시스템 구조와 디자인을 대폭 변경합니다. (jQuery -> AngularJS)</li>
					<li>사실 그대로 서비스해도 상관 없었지만 좀 더 완성도를 높혀보자는 이유로 Front-end는 반을 갈아 엎었습니다.</li>
					<li>안드로이드 버전에 따른 CSS와 폰갭의 상이한 지원으로 답답하기도 했습니다.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns bg5">10월</div>
			<div class="nine columns">
				<ul>
					<li>장인 정신으로 한땀 한땀 코드를 짜낸 끝에 구글 스토어에 올렸습니다!</li>
					<li>많은 학우들이 사용하지는 않았지만, 학생 예비군와 같이 특정 상황에 학우들에게 도움이 되길 바라며 즐겁게 작업하였습니다.</li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Behind</h6>
		<strong>티켓 구현에 얽힌 이야기</strong>
		<p>
			교수님의 피드백에서 카풀 이용자 간 서로를 식별할 수 있는 티켓을 만드는 게 어떠냐는 의견이 나왔다.
			처음엔 단순히 서로 연락 방법을 마련한다면 필요 없는 기능이지 않을까 생각했다.
			그러나 생각해보니 '근처에 있는 카풀 이용자를 티켓을 통해서 좀 더 자연스러운 방법으로 식별할 수 있으면 좋지 않을까?'라는
			고민 끝에 앱의 아이덴티티를 살리고 문제를 해결할 수 있는 <strong>티켓</strong>을 만들었다.<br>
		</p>
		<div class="row">
			<div class="two columns">
				<img class="thumb" src="./img/kpool_5.png">
			</div>
		</div>
		<p>
			풀 스크린으로 출력되고, 앱의 주 색상인 분홍색이 카풀이 많은 시간대인 저녁에 특히 눈에 잘 띌 것 이었다.
			티켓 화면만 띄워놓고 걸어 다녀도 주변 사람과 어색하지 않다. 또 카풀 고유의 문자열이 나열되어 있으므로
			다른 카풀 이용자와 구분도 가능하다는 장점이 있다.
		</p>
		<strong>안드로이드 4.5 미만에서 CSS 3 속성이 적용되지 않음</strong>
		<p>
			transform, border-radius 등 CSS 3 속성들이 적용되지 않고 레이아웃을 파괴하는 현상이 발생했다.
			폰갭 웹뷰는 크롬과 같이 크로미움을 기반으로 개발돼서 크롬에서 테스트 해 왔는데 안드로이드 2.0과 같은
			구버전에서는 webkit 버전이 낮아 적용되지 않는 것이 문제였다.<br><br>
			따라서 -webkit- 키워드를 사용하여 해결할 수 있었다.
		</p>
		<strong>안드로이드 4.5 미만에서 앱 설치 오류</strong>
		<p>
			구글 스토어에 등록된 어플리케이션과 APK 파일 모두 구버전 안드로이드에서 설치가 되지 않았다.<br>
			정확한 오류코드가 없었기 때문에 더 문제였다. 끝내 찾아낸 결과 JDK 1.8 버전에서 안드로이드 서명한 것이 이유였다.
		</p>
		<strong>클라이언트단 프레임워크 변경</strong>
		<p>
			교수님 피드백 후 디자인을 수정하는 겸 나는 클라이언트 재설계를 맡았다.<br>
			처음에는 jQuery를 Pure Javascript로 재설계 할 생각이었다. 디자인패턴을 이리저리 적용해 보다가
			AngularJS가 많은 스타트업에서 사용하기도하고 클라이언트에서 MVC 패턴을 구현했다기에 관심이 생겨 뒤늦게 적용하게 되었다.<br>
		</p>
		<strong>AngularJS에서 비동기 프로그래밍</strong>
		<p>
			기본적으로 View와 Model간 2-way binding을 지원한다. 하지만 비동기 호출시 Model에는 정상적으로 데이터가 들어왔으나
			View에 바인딩되지 않는 문제가 발생했다. API 서버에 요청은 물론이며 특히 Daum 지도 API의 요청이 문제였다.<br>
			AngularJS의 Promise 패턴인 $q를 이용하면 해결할 수 있었다.
		</p>
<pre><code>// 좌표 -> 주소 변환
// daum map api service
// return deferred
this.coord2addr = function(lat, lng){
	var deferred = $q.defer();
	geocoder.coord2addr(new daum.maps.LatLng(lat,lng), function(status, result){
		deferred.resolve(result);
	});
	return deferred.promise;
}</code></pre>
		<p>
			위도, 경도를 가지고 Daum API를 통해 상세주소 값을 받아오는 함수이다.
			정확히는 deferred 객체를 생성하고 비동기 호출 결과를 저장하여 반환했다.
		</p>
		<strong>트리거 제거</strong>
		<p>
			이전에 하나의 카풀에 참여 인원 수를 증가/감소 시키기 위해서 트리거를 이용하여 증감시켰다.
			그런데 게시글 작성시 참여자를 트리거로 카풀 참여자 목록 테이블에 넣으면서 트리거 동작이 하지 않는 문제가 발생했다.<br>
			그래서 서버에서 처리하고, DB는 순수 테이블만 사용하기로 했다.
		</p>
	</div>
</section>