<section>
	<h2>Travel Maker</h2>
	<h6>여행지 추천 시스템</h6>
	<ul class="list_tags">
		<li>웹 서비스</li>
		<li>jQuery</li>
		<li>반응형 웹</li>
		<li>Spring</li>
		<li>MyBatis</li>
		<li>Crawling</li>
	</ul>
	<div class="section_doc">
		<h6 class="tit">Overview</h6>
		<p>
			바쁜 현대 생활속에 몇 번 없는 휴식인 여행. '사람마다 다른 여행 만족도를 높일 수 없을까?'라는 의문에서 시작되었습니다.<br>
			감성 공학을 기준으로 분석하여 알맞는 여행지를 추천해 주고 추가적으로 일정 관리와 SNS 정보로 편의성을 제공합니다.<br>
			<br>
			Github: <a href="https://github.com/ParkWooHyun/TravelMaker" target="_blank">https://github.com/ParkWooHyun/TravelMaker</a>
		</p>
		<div class="row">
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_1.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_2.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_3.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_4.png">
			</div>
		</div>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Features</h6>
		<p>
			<strong>여행지 추천</strong>은 간단한 테스트를 통해서 감성을 파악하여 알맞는 여행지를 추천해 줍니다.
		</p>
		<p>
			<strong>일정 관리</strong>를 통해 간단하고 빠르게 스케쥴을 편집하고 볼 수 있습니다.
		</p>
		<p>
			<strong>실시간 정보</strong>로 여행지에 대한 SNS 정보를 모아서 볼 수 있습니다.
		</p>
	</div>
</section>