<section>
	<h2>Travel Maker</h2>
	<h6>여행지 추천 시스템</h6>
	<ul class="list_tags">
		<li>웹 서비스</li>
		<li>jQuery</li>
		<li>반응형 웹</li>
		<li>Spring</li>
		<li>MyBatis</li>
		<li>Bootstrap</li>
		<li>Crawling</li>
	</ul>
	<div class="section_doc">
		<h6 class="tit">Overview</h6>
		<p>
			바쁜 현대 생활속에 몇 번 없는 휴식인 여행. '사람마다 다른 여행 만족도를 높일 수 없을까?'라는 의문에서 시작되었습니다.<br>
			감성 공학을 기준으로 분석하여 알맞는 여행지를 추천해 주고 추가적으로 일정 관리와 SNS 정보로 편의성을 제공합니다.
			<br><br>
			Github: <a href="https://github.com/Edunga1/TravelMaker" target="_blank">https://github.com/Edunga1/TravelMaker</a><br>
			프로젝트 내 역할 : Front-end, 크롤링<br>
		</p>
		<div class="row">
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_1.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_2.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_3.png">
			</div>
			<div class="three columns">
				<img class="thumb" src="./img/travelmaker_4.png">
			</div>
		</div>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Features</h6>
		<p>
			<strong>여행지 추천</strong>은 간단한 테스트를 통해서 감성을 파악하여 알맞는 여행지를 추천해 줍니다.
		</p>
		<p>
			<strong>일정 관리</strong>를 통해 간단하고 빠르게 스케쥴을 편집하고 볼 수 있습니다.
		</p>
		<p>
			<strong>실시간 정보</strong>로 여행지에 대한 SNS 정보를 모아서 볼 수 있습니다.
		</p>
	</div>
	<hr>
	<div class="section_doc">
		<h6 class="tit">Behind</h6>
		<strong>주제 선정 및 역할 분담</strong>
		<p>
			웹을 통해서 여행 전, 중, 후 모두 이용할 수 있는 서비스를 만들어보자는 의견으로 많은 기능을 넣게 되었다.<br>
			아무리 봐도 한 학기 내에 모두 구현하기는 빠듯할 거 같아 프레임워크를 적극 이용해보자고 의견을 모았다.<br>
			시스템 구조는 함께, Front-end는 내가 전담했다.
		</p>
		<strong>프레임워크</strong>
		<p>
			Front-end는 Bootstrap을 사용했다.<br>
			디자인, 입력폼 등 다양한 부분을 빠르게 구현할 수 있어서 좋았으나, 분명히 러닝커브는 존재했고
			러닝커브가 짧을수록 Bootstrap의 기능을 제대로 활용하지 못하고 의미 없는 코드가 생기는 거 같았다.<br>
			완성 후 무겁다는 느낌도 지울 수 없었다.
		</p>
		<strong>SNS Crawler</strong>
		<p>
			인스타그램의 API를 이용하여 정확히는 Indexer를 구현했다.<br>
		</p>
		<pre><code>
https://api.instagram.com/v1/tags/####/media/recent?access_token=TOKEN
		</code></pre>
		<p>
			#### 부분이 Index에 해당하므로 루프를 통해 수집되지 않은 게시글을 수집하며, 새로운 게시글을 기다리는 알고리즘으로
			구현하였다.<br><br>
			문제는 이미지 저장 방식이었는데 DB에 blob으로 저장하는 것과 서버 리소스로 저장하는 방식이 의견으로 나왔다.<br>
			선택은 후자였으나 이는 잘못된 방식인 걸 깨달았다.<br>
			서버 리소스로 저장하는 경우 서버의 싱크를 다시 맞춰주지 않으면 이미지가 출력되지 않는 것이다.
		</p>
		<strong>jQuery 플러그인 패턴</strong>
		<p>
			일정관리에 사용할 달력을 jQuery 플러그인으로 가져와서 수정하면서 플러그인 작성법에도 패턴 있는 것을 알게 되었다.<br>
			<a href="http://www.smashingmagazine.com/2011/10/11/essential-jquery-plugin-patterns/" target="_blank">플러그인 패턴</a>을
			공부하면서 다양한 패턴을 공부했다.
		</p>
		<strong>캐릭터셋 문제</strong>
		<p>
			인스타그램은 모바일 앱이다보니 게시글 내용에 모바일에서 추가된 새로운 문자인 emoji 즉, 이모티콘이 문자로 지원된다.
			기존의 DB의 캐릭터셋인 utf8이 이모티콘을 지원하지 않아서 Crawler가 DB에 내용을 저장하지 못하고 'incorrect string value' 에러가 발생했다.<br>
			해결 방법은 확장된 캐릭터셋인 utf8mb4를 이용하는 것이었으나 스키마, 테이블, 컬럼을 하나씩 바꿔봐도 해결되지 않았다.<br>
			한참을 고생하고 끝내 해결한 결과 my.ini 안에 있는 character-set-server를 utf8에서 utf8mb4로 변경하여 해결했다. 
		</p>
		<strong>아쉬운 점</strong>
		<p>
			초기 시스템은 왓챠와 같이 데이터를 기반으로 신뢰성 있는 여행지를 추천해 주는 것이었다.<br>
			하지만 짧은 시간에 개발해야 하는 상황에 좀 더 단순한 방식으로 구현하게 되었다.
			기능을 줄여서 해당 부분에 좀 더 투자할 수 있었으면 하는 아쉬움이 있다.<br>
			여행 추천에 대한 선두주자가 없으므로 추후에 도전해 볼만한 과제라고 생각한다.
		</p>
	</div>
</section>
